In [2]:
import polars as pl
import datetime as dt

In [41]:
from quantbullet.utils.data import generate_fake_loan_prices

In [42]:
df = generate_fake_loan_prices(
    start_date=dt.date(2023, 1, 1),
    end_date=dt.date(2023, 12, 31),
)

# convert to polars DataFrame
df = pl.from_pandas(df)

## Windows

In [49]:
df.with_columns(
    last_price = pl.col("Price").shift(1).over("LoanID", order_by="Date")
).filter(
    pl.col("LoanID") == "LoanID0003"
)

shape: (7, 5)
┌─────────────────────┬────────────┬────────┬─────────┬────────────┐
│ Date                ┆ LoanID     ┆ Price  ┆ Balance ┆ last_price │
│ ---                 ┆ ---        ┆ ---    ┆ ---     ┆ ---        │
│ datetime[ns]        ┆ str        ┆ f64    ┆ i64     ┆ f64        │
╞═════════════════════╪════════════╪════════╪═════════╪════════════╡
│ 2023-01-24 00:00:00 ┆ LoanID0003 ┆ 96.22  ┆ 3000    ┆ null       │
│ 2023-01-25 00:00:00 ┆ LoanID0003 ┆ 99.53  ┆ 3000    ┆ 96.22      │
│ 2023-01-26 00:00:00 ┆ LoanID0003 ┆ 94.91  ┆ 3000    ┆ 99.53      │
│ 2023-01-27 00:00:00 ┆ LoanID0003 ┆ 96.45  ┆ 3000    ┆ 94.91      │
│ 2023-01-28 00:00:00 ┆ LoanID0003 ┆ 90.74  ┆ 3000    ┆ 96.45      │
│ 2023-01-29 00:00:00 ┆ LoanID0003 ┆ 104.43 ┆ 3000    ┆ 90.74      │
│ 2023-01-30 00:00:00 ┆ LoanID0003 ┆ 99.89  ┆ 3000    ┆ 104.43     │
└─────────────────────┴────────────┴────────┴─────────┴────────────┘

In [59]:
df.with_columns(
    ma_2 = pl.col("Price").shift(1).rolling_mean(2).over("LoanID", order_by="Date")
).filter(
    pl.col("LoanID") == "LoanID0003"
)

shape: (7, 5)
┌─────────────────────┬────────────┬────────┬─────────┬────────┐
│ Date                ┆ LoanID     ┆ Price  ┆ Balance ┆ ma_2   │
│ ---                 ┆ ---        ┆ ---    ┆ ---     ┆ ---    │
│ datetime[ns]        ┆ str        ┆ f64    ┆ i64     ┆ f64    │
╞═════════════════════╪════════════╪════════╪═════════╪════════╡
│ 2023-01-24 00:00:00 ┆ LoanID0003 ┆ 96.22  ┆ 3000    ┆ null   │
│ 2023-01-25 00:00:00 ┆ LoanID0003 ┆ 99.53  ┆ 3000    ┆ null   │
│ 2023-01-26 00:00:00 ┆ LoanID0003 ┆ 94.91  ┆ 3000    ┆ 97.875 │
│ 2023-01-27 00:00:00 ┆ LoanID0003 ┆ 96.45  ┆ 3000    ┆ 97.22  │
│ 2023-01-28 00:00:00 ┆ LoanID0003 ┆ 90.74  ┆ 3000    ┆ 95.68  │
│ 2023-01-29 00:00:00 ┆ LoanID0003 ┆ 104.43 ┆ 3000    ┆ 93.595 │
│ 2023-01-30 00:00:00 ┆ LoanID0003 ┆ 99.89  ┆ 3000    ┆ 97.585 │
└─────────────────────┴────────────┴────────┴─────────┴────────┘

## Aggregations